---
layout: page
title: Hi, I'm Praneeth
subtitle: Data/Business Analyst | R | Tableau | Python | SAS
use-site-title: true
bigimg: "/img/data5.jpg"

---
<!DOCTYPE html>
<html>
<head>
	<style>
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd; 
}
		
button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}
</style>
	</head>
<body>

<h1></h1>
<p>
I'm <b>Praneeth Munuganti</b>, a Data/Business Analyst enthusiast currently pursuing Masters in Information Technology and Management at <b>The University of Texas at Dallas</b>, USA.
	I have a passion for data analysis, find a couple of my projects <a href="/projects">here</a> 
</p>

<h2>About me</h2>
After undergrad I started my career as an IT professional at Infosys Ltd, Mysore, India.
	My job profile as a systems engineer at Infosys was to develop an enterprise application using various technologies.
<p>
At Infosys I realized my potential to quickly understand technical, managerial aspects of IT and the relation between them. 

It is this realized potential and my passion towards leading in Techno-Managerial roles that led me to pursue my Masters 
	in <a href= "http://jindal.utdallas.edu/isom/information-systems-programs/ms-information-technology/" target="_blank">Information Technology and Management</a> 
	at The University of Texas at Dallas. </p >

Concentrating in Business Intelligence and Analytics I have learned a wide range of technical and managerial subjects at UT Dallas

<h3> A couple of things I have learned/done </h3>
 
<button class="accordion">Data analysis</button>
<div class="panel">
<ul>
 <li>Sampling data from population, making sure sample reflects population charactertics</li>
 <li>Data cleaning and transforming(data wrangling) using multiple tools and techniques </li>
 <li>Implementing statistical analysis through visualization </li>
 <li>Using statistical inference(hypothesis testing, confidence intervals) to answers probing questions
	 (comparision, survey result validation,dependancies amoung variables,etc) </li>
 <li>Creating various predictive models and choosing best among them </li>
 <li>Translating data analysis results into strategic business recommendations </li>
</ul>
</div>

<button class="accordion">Cloud computing</button>
<div class="panel">
<ul>
 <li>Worked on various case studies to identify technology and financial impact to business in adopting to cloud computing</li>
 <li>Familiar with various technologies, standards, and models in cloud computing</li>	
</ul>	
</div>

<button class="accordion">Project Management</button>
<div class="panel">
<ul>
 <li></li>
 <li></li>	
</ul>	
</div>
	
<h4> My Motto </h4>

<b>“Live as if you were to die tomorrow. Learn as if you were to live forever.” </b>
―<i> Mahatma Gandhi </i>


<!-- <h2>I am available to work</h2>
<p>
As a student on F1 visa I am available to work as an Intern (on CPT) and as a Full-time (on OPT). 
	Feel free to contact me <a href="/contactme">here</a> 
	</p>	 -->

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
}
</script>
	</body>
</html>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
